#body {
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color: black;
}

.titleAbout {
    text-align: center;
    color: steelblue;
}

.paragraph {
    color: slategray;
    text-align: center;
    text-decoration: slategray;
    margin: 4em;
    padding: 10px;
    padding-top: 5px;
}

.container {
    height: 200px;
    padding: 20px;
}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    width: 60%;
    height: 70%;
    padding: 10px;
    margin: auto;
}

#bodyHome {
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color: black;
    background-image: url("/images/triviumlogo1.png");
    background-repeat: no-repeat;
}

.div.gallery {
    margin: 5px;
    border: 1px solid #097E32;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #097E5C;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}